@import 'tailwindcss';

* {
  box-sizing: border-box;
  user-select: none;
}

@utility backdropColor {
  background-color: #f2f2f2;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  @apply backdropColor;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(100%) sepia(100%) saturate(1000%);
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  @apply min-h-svh;
}

@utility secondaryBtn {
  @apply px-3 py-2 text-sm rounded-lg border border-gray-200 text-indigo-600 bg-white cursor-pointer hover:bg-indigo-100 hover:ring-indigo-400 hover:ring-2 transition-all;
}

@utility primaryBtn {
  @apply px-3 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 disabled:opacity-50 disabled:cursor-not-allowed transition-all cursor-pointer;
}
